[submodule "HomeAutomation/w5xdInsteon"]
	path = HomeAutomation/w5xdInsteon
	url = https://github.com/w5xd/plm.git
[submodule "HomeAutomation/WirelessGateway"]
	path = HomeAutomation/WirelessGateway
	url = https://github.com/w5xd/PacketGateway.git
[submodule "HomeAutomation/WirelessThermometer"]
	path = HomeAutomation/WirelessThermometer
	url = https://github.com/w5xd/PacketThermometer.git
