*.ncb
*.suo
*.swp
*.user
*.7z
*.o
*.so
*.tmp
*\~

hvac/Debug/
hvac/Release/
hvac/procEventLog
hvac/procFurnace
hvac/procWeatherGov
hvac/stop_last_monitor.sh
hvac/*.txt
hvac/*.log

thermostat/processEventLog
thermostat/Debug/
thermostat/logs*/
thermostat/thermostat_log.txt
thermostat/*.log

pcsensor-0.0.2/pcsensor
pcsensor-0.0.2/Debug/
pcsensor-0.0.2/Release/
pcsensor-0.0.2/x64/

routerMonitor/*.log
routerMonitor/snaps/

readMotion/readMotion

httpd/htdocs/symlinks/
httpd/htdocs/insteon/logfile*.txt
httpd/temp/

